kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1beta1
metadata:
  name: istio-ingress
subjects:
  - kind: ServiceAccount
    name: istio-ingress
roleRef:
  kind: ClusterRole
  name: istio-ingress
  apiGroup: rbac.authorization.k8s.io
